# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [12]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd

Baltimore = pd.read_csv('C:/Users/Subhashini/SubhaGitJuputer/data-manipulation/dataset/baltimore_9-24-2016_9-30-2017.csv')
Boston = pd.read_csv('C:/Users/Subhashini/SubhaGitJuputer/data-manipulation/dataset/boston_9-24-2016_9-30-2017.csv')
New_York = pd.read_csv('C:/Users/Subhashini/SubhaGitJuputer/data-manipulation/dataset/new-york_9-24-2016_9-30-2017.csv')
Philadelphia = pd.read_csv('C:/Users/Subhashini/SubhaGitJuputer/data-manipulation/dataset/philadelphia_9-24-2016_9-30-2017.csv')

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [13]:
Baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [25]:
# Clean your data here!
# To check for missing values in each dataframe
print(Baltimore.isnull().sum())
# print(Boston.isnull().sum())
# print(New_York.isnull().sum())
# print(Philadelphia.isnull().sum())
# To check for duplicates in each dataframe
print(Baltimore.duplicated().sum())
# print(Boston.duplicated().sum())
# print(New York.duplicated().sum())
# print(Philadelphia.duplicated().sum())

# To remove duplicates from each dataframe
Baltimore.drop_duplicates(inplace=True)
# Boston.drop_duplicates(inplace=True)
# New York.drop_duplicates(inplace=True)
# Philadelphia.drop_duplicates(inplace=True)

Commodity Name       0
City Name            0
Type               153
Package              0
Variety              2
Sub Variety        128
Grade              153
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               5
Origin District    153
Item Size           25
Color              122
Environment        153
Unit of Sale       129
Quality            153
Condition          153
Appearance         153
Storage            153
Crop               153
Repack               0
Trans Mode         153
dtype: int64
0

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [15]:
# Combine the four dataframes into one!
combined_df = pd.concat([Baltimore, Boston, New_York, Philadelphia])

combined_df

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,11/05/2016,16,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
53,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,08/26/2017,18,20.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
54,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/16/2017,16,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
55,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/23/2017,15,16.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN
56,PUMPKINS,PHILADELPHIA,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,NaN,09/30/2017,15,18.0,...,NaN,NaN,SHELLACKED,NaN,NaN,NaN,NaN,NaN,N,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [16]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
# Concatenate data from all four dataframes into one dataframe
northeast_data =  pd.concat([Baltimore, Boston, New_York, Philadelphia])
# Group data by unit of sale and calculate mean low and high prices
mean_prices = northeast_data.groupby('Unit of Sale')[['Low Price', 'High Price']].mean()
# Print the resulting dataframe
mean_prices

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [29]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
# Concatenate data from all four dataframes into one dataframe
northeast_data = pd.concat([Baltimore, Boston, New_York, Philadelphia])
# Filter data for pumpkin varieties Howden and Fairytale

pumpkin_data = northeast_data[(northeast_data['Commodity Name'] == 'PUMPKINS') & ((northeast_data['Variety'] == 'HOWDEN') | (northeast_data['Variety'] == 'FAIRYTALE'))]
# Group data by variety and calculate the average number of pumpkins
mean_pumpkins = pumpkin_data.groupby('Variety')['Unit of Sale'].mean()
# Print the resulting series
mean_pumpkins

Variety
FAIRYTALE   NaN
Name: Unit of Sale, dtype: float64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!